:root {
  --menuWidth: 100%;
}

.open {
  width: var(--menuWidth);
}

.close {
  width: 0;
}

.openDivMenu {
  animation-name: slideInMenu;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.closeDivMenu {
  animation-name: slideOutMenu;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes slideInMenu {
  0% {
    width: 0;
	}

  100% {
    width: var(--menuWidth);
  }
}

@keyframes slideOutMenu {
  from {
    width: var(--menuWidth);
  }

  to {
    width: 0;
  }
}