:root {
  --backColor1: #0f0f14;
  --backColor2: #19191e;
  --backColor3: #757575;
  --color1: #ccc;
  --colorHover: #fff;
  --fontSizeRoot1: 16px;
  --border1: 2px solid #282828;
  --border2: 2px solid #757575;
  --headerHeigth: 3.5rem;
  --footerHeigth: 2rem;
  --menuButtonHeight: 2.5rem;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, sans-serif;
}

html {
  font-size: var(--fontSizeRoot1);
  color: var(--color1);
}

/* cabeçalho */
#myHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  height: var(--headerHeigth);
  background-color: var(--backColor1);
}

#myHeader p {
  margin-left: 1rem;
  font-size: 2rem;
  display: flex; 
  flex: 1;
  align-items: center;
}

#myHeader button {
  width: var(--headerHeigth);
  height: var(--headerHeigth);
  background-color: var(--backColor1);
  font-size: 2rem;
  color: var(--color1);
  border-radius: 10px;
  cursor: pointer;
}

#myHeader button:hover {
  border: var(--border2);
  color: var(--colorHover);
}

#myHeader button:disabled {
  background-color: var(--backColor3);
}

#myFooter {
  position: fixed;
  bottom: 0;
  left: 0vw;
  width: 100vw;
  height: var(--footerHeigth);
  background-color: var(--backColor1);
  display: flex;
  justify-content: center;
}

#myDivContainer {
  position: fixed;
  top: var(--headerHeigth);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--headerHeigth) - var(--footerHeigth));
  border-top: var(--border1);
  border-bottom: var(--border1);
  overflow: auto;
  display: flex;
}

.divMenu {
  height: 100%;
  background-color: var(--backColor2);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: var(--border1);
  border-right: var(--border1);
}

.divMenu *{
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--color1);
  background-color: var(--backColor2);
  border-radius: 6px;
}

#myDivLeft button {
  min-height: var(--menuButtonHeight);
  padding-left: .5rem;
  text-align: left;
}

#myDivLeft button:hover {
  border: var(--border2);
  background-color: var(--backColor1);
}

#myDivLeft button:active {
  background-color: var(--backColor3);
  color: var(--backColor1);
}

#myDivCenter {
  height: 100%;
  background-color: var(--backColor1);
  z-index: 99;
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
}

#myDivRight div{
  min-height: 10rem;
  border: var(--border2);
  text-align: center;
}

@media only screen and (max-width: 799px) {
  #myDivContainer {
    flex-direction: column;
	}

  #myDivLeft {
    position: absolute;
    left: 0;
	}

  #myDivCenter {
    position: absolute;
    left: 0;
    width: 100%;
  }

  #myDivRight {
    position: absolute;
    right: 0;
  }

  .divMenu *{
    width: 96vw;
  }
}

@media only screen and (min-width: 800px) {
  #myDivContainer {
    flex-direction: row;
  }

  .divMenu *{
    width: 14rem;
  }
}